.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.paper {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  margin-top: 10%;
  border-radius: 10px;
}

.header {
  background-color: rgb(0, 0, 184);
  color: white;
  padding: 10px 20px;
  font-size: 25px;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

.input,
.button {
  margin: 10px 0px !important;
}

.button {
  padding: 10px 20px;
  background-color: #ff8f00 !important;
  color: white;
}

.login-link {
  text-align: center;
  padding: 10px 20px;
  color: #eeeeee;
  font-weight: 700;
}

.text {
  color: black;
}

.error-msg {
  color: rgb(255, 0, 0);
}

.link {
  color: red !important;
  font-size: large;
}

.label {
  color: black;
  font-size: large;
}

.checkbox-section {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%;
  height: 20px;
  /* background-color: rgb(176, 101, 101); */
}
.checkbox {
  display: flex;
  height: 20px;
  width: 20px;
  margin-left: 10px;
  opacity: 100%;
  /* background-color: rgb(176, 101, 101); */
}
