@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");

a {
  color: black !important;
}

.brand-logo {
  font-family: "Grand Hotel", cursive;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  width: 30%;
}

.home-card {
  max-width: 50%;
  height: max-content;
  margin: 26px auto;
}
.row li {
  width: 33.3%;
  float: left;
}

img {
  border: 0 none;
  margin-bottom: 10px;
  display: inline-block;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.create-post {
  margin: 30px auto;
  max-width: 500px;
  padding: 20px;
  text-align: "center";
}
